
@media screen and (max-width : 750px){
    .big_t{
        margin-bottom: 1rem;
    }
    #first_view{
        .content{
            h1{
                font-size: 3em;
                text-align: center;
            }
            p{
                font-size: 1rem;
                
            }
        }
    }
    #sec_view{
        .cases_flex{
            flex-direction: column;
            .card{
                margin: 1rem 0;
                width: 100%;
                max-width: 300px;
                &:nth-child(2n){
                    align-self: end;
                    margin: 1rem 0;
                }
                .card_body{
                    h3{
                        font-size: 16px;
                    }
                    p{
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
    #third_view{
        .content{
            .services{
                .card{
                    padding: .5rem 1rem;
                    svg{
                        margin-bottom: 1rem;
                        height: 150px;
                    }
                }
            }
        }
    }
    #forth_view{
        padding: 1rem 2rem;
    }

    footer#seventh_view{
        padding: 2rem 1rem;
        
        span{
            margin: 0px 0px;
        }
        .content{
            display: block;
            padding: 0px;
            .contact{
                margin-bottom: 2rem;
            }
            .donation {
                margin-top: 2rem;
            }
            h3{
                padding: .7em 1.2em;
            }
           .donation h3, .donation h4, p{
                padding: .7rem 1.2rem;
            }
        }
    }
    
}

@media screen and (max-width : 500px){
    .container{
        max-width: 100%;
    }
    .big_t{
        font-size: 2rem;
        letter-spacing: 2px;
    }
    #sec_view{
        .cases_flex{
            .card{
                .card_image{
                    .image_hover{
                        // i am adding the bg color here becaause safari is having a 
                        // had recognizing when the iphone is hovering on this
                        // and the button is had to recognize without the shade
                            background-color: rgba(0,0,0,.2);
                    }
                }
                .card_body{
                     h3{
                        font-size: 1.4em;
                        letter-spacing: normal;
                        font-weight: bold;
                     }
                     p{
                         line-height: 1.3rem;
                     }
                }
                &:nth-child(2n){
                    align-self: unset;
                }
            }
        }
    }
    // mobile versions
        #third_view{
        .content{
            .services{
                .card{
                    padding: 1rem .8rem;
                    width: 100%;
                    max-width: 320px;
                    margin-bottom: 1.3rem;
                    svg{
                        margin-bottom: 1rem;
                        width: 100%;
                        height: auto;
                    }
                    
                }
            }
        }
    }

    #forth_view{
        padding: 2rem 1rem;
    }
    #fifth_view{
        .customer{
            display: block;
            text-align: center;
            width: 100%;
            img{
                margin: 1rem auto;
                max-width: 20vw;
            }
        }
    }
    #sixth_view{
        .blogs{
            padding: 0 1rem;
            .card{
                   max-width: 350px;
                   .card-image{
                       height: 150px;
                   }
            }
        }
    }

}


@media screen and (min-width: 900px){
    .paragraph{
        font-size: 20px !important;
    }
}
