@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$black : black;
$white : white;
$bgGreen : #242D23;
$gray : #F3F3F3;
$lightgreen : #7bff66;