<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/images/tsa.png" type="image/x-icon">
    <title>THE SEVEN APEX IS THE TOP WEBSITE AGENCY IN NIGERIA</title>

    <style>
        @font-face {
            font-family: 'orbitron';
            src: url('./assets/fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
            url('./assets/fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

    </style>
</head>
<body>
    <!-- this here is the nav -->
    <%= require('./repetitive/nav') %>
    <!-- ###### -->
    <section id="first_view" class="about ">
           
        <div class="button_position">
            <a class="button"> Get in touch</a>
        </div>
        <h2 class="nav-header orbitron">
            About us
        </h2>
        <div class="content">
            <h1 class="orbitron"> Hi there, we are the 7 Apex</h1>
            <h3 class="info greendot">
                we are a fullstack web development and design company,
                with experience managing business brands, helping businesses
                reach their wider audience and creating a brand image that resonates well with their targets.
            </h3>
        </div>
    </section>

    <section id="more" class="about">
        <div>
            <h2 class="big_t">
                Our Approach tells the story of our value.
            </h2>
            <h3 class="info greendot">
                we are a fullstack web development and design company,
                with experience managing business brands, helping businesses
                reach their wider audience and creating a brand image that resonates well with their targets.
            </h3>
            <div class="code_design">
                <img src="./assets/images/code-design.png" alt="" srcset="">
            </div>
        </div>
    </section>
    <section id="more2" class="bg-white">
        <div>
            <h2 class="big_t">
              We build web solutions that tell a brand story.
            </h2>
            <h3 class="info greendot">
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt vel aut alias, molestiae totam quis mollitia quibusdam,
                laborum eos quasi, impedit similique.
                Veniam ad saepe, quod pariatur inventore ratione rem?
            </h3>
            <div class="code_design">
                <img src="./assets/images/solutions.png" alt="" srcset="">
            </div>
            <div>
                <h2 class="orbitron mb-2"> Our capability</h2>
                <p class="greendot"> Brand Management</p>
                <p class="greendot">Front-end Development</p>
                <p class="greendot"> UI/UX design</p>
                <p class="greendot">Content writing</p>
            </div>
        </div>
    </section>

    <section id="values" class="about">
            <h2 class="orbitron big_t"> Our values</h2>
           <ul class="grid-box mt-2">
                <!-- values box -->
                <%= require('./repetitive/values')%>
            <!-- ###### -->
           </ul>
    </section>

    <section id="contact-us" class="about">
        <h2 class="big_t"> Contact us</h2>

        <form method="GET">
            <div class="group-input">
                <div style="width: 100%;">
                    <label for="subject" class="mb-1"> *subject </label>
                    <input type="text" placeholder="Start a project">
                </div>
            </div>
            <div class="group-input">
                <div class="group">
                    <label for="subject" class="mb-1"> *subject </label>
                    <input type="text" placeholder="Start a project">
                </div>
                <div class="group">
                    <label for="subject" class="mb-1"> *Company name </label>
                    <input type="text" placeholder="Start a project">
                </div>
            </div>
            <div class="my-2">
                <label for="body" class="mb-1"> message</label>
                <textarea name="body" id="body">
                </textarea>
            </div>
            <button> Send</button>
        </form>
    </section>

      <!-- footer section -->
      <%=require('./repetitive/footer') %>
      <!-- ###### -->
</body>
</html>