<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/images/tsa.png" type="image/x-icon">
    <title>THE SEVEN APEX IS THE TOP WEBSITE AGENCY IN NIGERIA</title>

    <style>
        @font-face {
            font-family: 'orbitron';
            src: url('./assets/fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
            url('./assets/fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

    </style>
</head>
<body style="background-color: white;">
    <!-- this here is the nav -->
    <%= require('./repetitive/nav') %>
    <!-- ###### -->

    <section id="banner" class=" orbitron">
        <h3> 7 Apex > Blogs ></h3>
        <h1 > 
            Why schools need to have an online presence
        </h1>
    </section>
    <section id="sixth_view" class="blogPost">
        <div id="author">
            <div style="text-align: center;">
                <div class="profile orbitron">
                    <img src="./assets/images/tsa.png" alt="" srcset="">
                </div>
                <div class="info">
                    <p> Vanessa Adohe</p>
                    <p> @vanessaadohe2</p>
                </div>
            </div>
        </div>
    </section>

    <section class="post">
        <h2> Why schools should have a website</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatibus ad et reiciendis sint, voluptate aliquam! Ul
            reiciendis, neque nisi mollitia officia blanditiis deleniti n
            on? Eius reprehenderit, molestiae placeat modi maiores non
            rovident ad laudantium praesentium sunt asperiores, ipsa 
            dicta error! Porro rerum modi hic odio saepe, fuga autem nulla eveniet
            eaque iste consequuntur, fugit laborum aut magnam beatae aperiam natus optio,
            voluptates est delectus qui ad quibusdam eligendi maiores. Modi, id pariatur dolorum cum vel ducimus eligendi debitis similique adipisci, praesentium necessitatibus, eveniet quaerat est exercitationem sit atque nam ad tempore ipsa ipsam. 
            Non consequatur, nulla sequi eos dolore libero.
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatibus ad et reiciendis sint, voluptate aliquam! Ul
            reiciendis, neque nisi mollitia officia blanditiis deleniti n
            on? Eius reprehenderit, molestiae placeat modi maiores non
            rovident ad laudantium praesentium sunt asperiores, ipsa 
            dicta error! Porro rerum modi hic odio saepe, fuga autem nulla eveniet
            eaque iste consequuntur, fugit laborum aut magnam beatae aperiam natus optio,
            voluptates est delectus qui ad quibusdam eligendi maiores. Modi, id pariatur dolorum cum vel ducimus eligendi debitis similique adipisci, praesentium necessitatibus, eveniet quaerat est exercitationem sit atque nam ad tempore ipsa ipsam. 
            Non consequatur, nulla sequi eos dolore libero.
        </p>
      
    </section>
    <div class="blogPost form">
        <form  method="post">
            <h2 class="orbitron"> Stay tuned to our weekly update</h2>
            <div>
                <input type="text" placeholder=" Email">
            </div>
            <button>subscribe</button>
        </form>
    </div>
      <!-- footer section -->
      <%=require('./repetitive/footer') %>
      <!-- ###### -->
</body>
</html>