<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Advantage of business having an online presence ( Website )</title>
    <meta name="description" content="When a business has a digital presence, it makes it much easier for customers to easily find you. More often than not, a customer will turn to the internet when looking for a company or a product.">
    <meta property="og:description" content="When a business has a digital presence, it makes it much easier for customers to easily find you. More often than not, a customer will turn to the internet when looking for a company or a product.">
    <!-- seo meta tags plus favicion -->
    <%= require('../repetitive/seo-tags.js') %>
    <!-- ######## -->
    <style>
        @font-face {
            font-family: 'orbitron';
            src: url('./assets/fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
            url('./assets/fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

    </style>
</head>
 <!-- preloader feature -->
 <%= require('../repetitive/preloader.js') %>
 <!-- ###### -->
<body style="background-color: white;">
    <!-- this here is the nav -->
    <%= require('../repetitive/nav') %>
    <!-- ###### -->

    <section id="banner" class=" orbitron" style=" background-image: url('./assets/images/onlinepresence.png'); background-position: right;">
        <h3> 7 Apex > Blogs ></h3>
        <h1 > 
            Why your businesses should have an online presence
        </h1>
    </section>
    <section id="sixth_view" class="blogPost">
        <div id="author">
            <svg width="61" height="15" viewBox="0 0 61 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.5" cy="7.5" r="7.5" fill="#F42F00"/>
                <circle cx="30.5" cy="7.5" r="7.5" fill="#F4F000"/>
                <circle cx="53.5" cy="7.5" r="7.5" fill="#7AF400"/>
                </svg>
                
            <div style="text-align: center;">
                <div class="profile orbitron">
                    <img src="./assets/images/tsa.png" alt="" srcset="">
                </div>
                <div class="info">
                    <p> Vanessa Adohe</p>
                    <p> @vanessaadohe1</p>
                </div>
            </div>
        </div>
    </section>

    <section class="post">
      
        <div class="mb-2">
            <p>When a business has a digital presence, it makes it much easier for customers to easily find you. More often than not, a customer will turn to the internet when looking for a company or a product. Even if you have a brick-and-mortar business, you need a digital presence to bridge the gap for your consumers.</p>
            <p>Never before has it been so important for businesses to connect and engage with current and potential customers, especially online. Having a digital presence for your business is vital to its success. A survey conducted by Salesforce found that customers rely on the research they conduct online before making a purchase or scheduling an appointment with a company for service. The Salesforce survey found the following:
                <ul>
                    <li>85% of consumers research a product online before making a purchase</li>
                    <li>Web sites are used 74% of the time to conduct the research</li>
                    <li>Social media is used 38% of the time for research</li>
                </ul> 
            </p>
            <p> In this digital age, businesses very well understand the importance of online presence of business. Businesses know that it is important to be well represented online to be ahead of competition and be successful in almost all industries. Technology is fast changing and if you have not started working on your online presence, it is not late yet, do it now.
                You may run a small business or maybe are a part of a large scale industry, having a strong online presence of your business, will help any individual to find your business anywhere and at any time. An online presence keeps your business operational with a virtual store 24 hours a day. Because of this, your business needs a strong digital presence to attract new customers and retain current ones. Whether you are starting a brand new business or revamping an existing one, a digital presence is key to its success. Below, you will find the reasons why you need a digital presence of your business.</p>
        </div>
        <div class="mb-2">
            <h3 class="mb-1 orbitron">Improve the Ease of Showcasing Products and Services</h3>
            <p>One of the biggest benefits of having a strong digital presence is that it improves the ease of showcasing your products and services. It is very easy to showcase what your business offers because of online portfolios, social media photo albums, posting videos to YouTube and so much more. Becoming an expert in your field should not be a problem when there are so many avenues available to connect with the public.
                One of the best ways of building an online presence is having a professional website that showcase who you are, what your business is about, and what you can offer people.</p>
        </div>
        <div class="mb-2">
            <h3 class="mb-1 orbitron">Customers Can Easily Find You</h3>
          <p>Some consumers will start their shopping experience online but finish it in-person, and others vice versa. Regardless, many new customers will not want to spend a lot of time looking for a company, product or service. Instead, they should be able to find you with a simple Google search. After they find you, will they convert into a customer of your company? Converting leads into customers online has a lot to do with your digital presence, such as the incentives you offer on your site.</p>
        </div>
        <div class="mb-2">
            <h3 class="mb-1 orbitron">Help Market Your Company’s Brand </h3>
            <p>Your brand is what sells you to customers. It can be challenging to market your brand depending on its niche. However, if you build a strong digital presence, building your brand should come quite easily. It’s completely free to market your brand using the internet and social media. Now, this only goes so far before having to get involved in paid advertising and targeted advertising. The beauty of a digital presence is that people from thousands of miles away can find your business with one click of a mouse.</p>
        </div>
        <div class="mb-2">
            <h3 class="mb-1 orbitron">A Digital Presence Builds Relationships</h3>
            <p>The goal of using social media is to build relationships with friends and followers, and this is true for businesses and individuals. Your brand acquires a voice when your company regularly posts on social media, no matter the platform. This voice helps your company become relatable to customers and provides a human touch. Businesses can get to know their customers by using social media. If your business isn’t on social media, you are missing out on an untapped, free resource to build your brand.</p>
        </div>

        <h2 class="orbitron" style="text-align: center;"> How to build an online presence of your business?</h2>
       <ul>
           <li class="mb-1">
            <strong>Web Designing and Development:</strong>
             The first step in building an online presence of business is to work on the website. We all know that your business website is a virtual store which attracts visitors and directs them to what they are looking for. When visitors visit the website you need to ensure that your company logo is visible at the top of the page, so they know where they have reached. Use attractive images and useful content on the page which can represent your company’s image and the products and/or services you are dealing in. These elements like logo, images, content etc communicate your brand image to the online visitor. One may feel that need for branding is for big companies and large corporations, but if you own a business, you will know that branding is an important element for all businesses whether big or small. It is important that you select a name and logo which represents the culture and philosophy of your business. Use images and content which can justify your company ethos. Therefore web designing and development play an important role in creating a strong online presence of your business.
           </li>
           <li class="mb-1">
            <strong>Search Engine Optimization:</strong>
             Once you have designed and developed your website, you need to ensure that the website is found on search engines, so you can get more visitors. To make the website easily searchable on the search engine, you need to optimize the website. Optimization means making the website as effective as possible. Use important keywords which best describe your business and products in your website content. Potential customers type certain words in the search engine while searching for specific services or products. These words are your keywords; you need to ensure they are well embedded in your content, so when a person searches with those words in a search engine, your website gets ranked in the search results. Search engine optimization involves optimizing all your web pages, the images and content used on the website.
           </li>
           <li class="mb-1">
            <strong>Blog Posting:</strong>
             Posting blogs is a wonderful way to talk to your customers and prospects. You can inform them about your products and services and also inform them about the initiatives taken by your company. For eg. Your business is to sell smart technologies. In that case you can write a blog post on best smartphones or best smartwatches in Nigeria and publish it to attract more customers. Blog posting helps to interact with the potential customers and answer their queries; it helps in proving the authenticity of the website. While reading a blog, a visitor spends time on your website, whereby increasing the time spent per user on the website. The time spent and the quality of content in the blogs helps in improving the search engine ranking. Ensure your content is not plagiarized and the facts mentioned are accurate. Make the blogs informational and educational, so visitors appreciate the content and revisit the website.
           </li>
           <li class="mb-1">
            <strong>Social media marketing:</strong>
            Increase the online presence of your business by networking through different social media platforms. You can start by picking up 2 or 3 standard social media platforms like Facebook, Twitter, Instagram etc. Post relevant information and important updates. Reply to queries and comments posted by the viewers. Actively participate on the social media platforms, to increase your visibility. The more you actively respond to queries and complaints on social media, the more followers you will gain.
           </li>
           <li class="mb-1">
            <strong>Web analytics:</strong>
            Google Analytics is the best web analytics tool. It is free and easy to use. Install google analytics on your website and it will provide you with data and statistics regarding the visits to your website. The tool helps in tracking the demographics of the visitors, the pages viewed by them, the amount of time they spent on the website, the keywords used by them etc. Tracking these results help in improving the online presence of the business.
           </li>
       </ul>
       <h3> Bottom line</h3>
       <p>
        As previously mentioned, your business needs to have a strong digital presence. However, it won’t happen overnight. You need to be patient, put a plan in place, and set attainable goals.
        
        However, the seven Apex can help you step by step achieve your dreams in growing your brand. Do not forget to explore our website to find out amazing services we can offer and feel free to check out other blog post, have any question or specific request? give us a call on +2349036442093 or drop us an email at <a href="mailto:enquiries@thesevenapex.com">enquiries@thesevenapex.com</a> we’d love to hear from you! 
       </p>
       <br><br>
       <p class="orbitron">
        <a href="./blogs.html" style="color : rgb(51, 51, 51); text-decoration: none;"> <span style="color : rgb(51, 51, 51, 0.5);">Back to Blogs</span></a> &lt; Next article
       </p> 
    </section>
    
    <div class="blogPost form">
        <form  method="post">
            <h2 class="orbitron"> Stay tuned to our weekly update</h2>
            <div>
                <input type="text" placeholder=" Email">
            </div>
            <button>subscribe</button>
        </form>
    </div>
      <!-- footer section -->
      <%=require('../repetitive/footer') %>
      <!-- ###### -->
</body>
</html>