<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importance of having a school website </title>
    <meta name="description" content="The importance of having a school website in Nigeria or any where else in the world can not be over stated,The website reflects the school in terms of values, attitude towards... ">
    <meta property="og:description" content="The importance of having a school website in Nigeria or any where else in the world can not be over stated,The website reflects the school in terms of values, attitude towards...">
    <!-- seo meta tags plus favicion -->
    <!-- seo meta tags plus favicion -->
    <%= require('../repetitive/seo-tags.js') %>
    <!-- ######## -->
    <style>
        @font-face {
            font-family: 'orbitron';
            src: url('./assets/fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
            url('./assets/fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

    </style>
</head>
 <!-- preloader feature -->
 <%= require('../repetitive/preloader.js') %>
 <!-- ###### -->
<body style="background-color: white;">
    <!-- this here is the nav -->
    <%= require('../repetitive/nav') %>
    <!-- ###### -->

    <section id="banner" class=" orbitron" style=" background-image: url('./assets/images/schoolbanner.png'); background-position: right;">
        <h3> 7 Apex > Blogs ></h3>
        <h1 > 
            Benefits of having a school website
        </h1>
    </section>
    <section id="sixth_view" class="blogPost">
        <div id="author">
            <svg width="61" height="15" viewBox="0 0 61 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.5" cy="7.5" r="7.5" fill="#F42F00"/>
                <circle cx="30.5" cy="7.5" r="7.5" fill="#F4F000"/>
                <circle cx="53.5" cy="7.5" r="7.5" fill="#7AF400"/>
                </svg>
                
            <div style="text-align: center;">
                <div class="profile orbitron">
                    <img src="./assets/images/tsa.png" alt="" srcset="">
                </div>
                <div class="info">
                    <p> Vanessa Adohe</p>
                    <p> @vanessaadohe1</p>
                </div>
            </div>
        </div>
    </section>

    <section class="post">
      
        <div class="mb-2">
            <p>There are several major reasons why a school websites would be incredibly benefital; and this are some of he major reasons;</p>
            <p>Does your school really need website development and how will it benefit from such a project? A personalized, functional website will result in reputation establishment possibilities that will be unavailable through any other channel. </p>
            <p> It is easy to neglect your school website, but this would be a big mistake. Your website can accomplish so much for your school, your staff and your whole community. A website needs to not only look good and provide the basic information – it should also become an interactive hub for the community.</p>
        </div>
        <div class="mb-2">
            <h3 class="mb-1 orbitron">Competitive Advantage</h3>
            <p>The website reflects the school in terms of values, attitude towards prospects and acceptance of modern trends. Such a development will give your school a competitive advantage and help you set yourself apart from the competition.</p>
            <p>To make the most of the opportunity, take a look at the websites of other schools in the region. What kind of features do these websites have and what are they missing? A little bit of competition research can help you get inspired. You will easily figure out how to position yourself and create the most appealing persona for your establishment.</p>
        </div>
        <div class="mb-2">
            <h3 class="mb-1 orbitron">Showcase Your School Online</h3>
            <p>Having a website is the heart and soul of every online marketing strategy. The number of people looking for information online is growing all the time. If you lack a sensible online presence, you are missing a great opportunity to advertise your school.</p>
            <p>This type of advertising is highly targeted – you will be reaching people that have a particular interest in the opportunity provided. It is also much more cost-efficient than paying for traditional promotion like television ad spots or outdoor billboards.</p>
            <p>Online marketing has many faces. It can come in the form of a content-based strategy, social media marketing, YouTube videos or pay per click (PPC) campaigns. To make use of these opportunities, however, you need a landing page.</p>
        </div>
        <div class="mb-2">
            <h3 class="mb-1 orbitron">Improve The Brand Image</h3>
            <p>You also want your brand image to be positive, and you can achieve this through taking the time and care to update a website and provide information to the community. You may be marketing your website online, and an interactive site can ensure that when people arrive at your website, they see your school in the best light.</p>

        </div>
        <div class="mb-2">
            <h3 class="mb-1 orbitron">Your School Website & Staff Recruitment</h3>
            <p>Of course, the benefits of a well-refined school website are not just for parents and pupils. Recruiting suitable school staff has always been one of the biggest challenges facing schools. The school website will always be one of the first place to look for job applicants, and as we learned from our last blog, it takes under 1 second to form an opinion of a webpage after a user lands on it. With this in mind, are you satisfied that your school website conveys the best possible image of your school and would be an attractive proposition for a potential new member of staff?</p>
        </div>
        <div class="mb-2">
            <h3 class="mb-1 orbitron">Cost-Efficiency</h3>
            <p>Finally, website development ranks among the most affordable reputation establishment methods. </p>
            <p>The initial investment required for website development is quite limited. Even if you choose to work with a reputable web design agency, you will still have to dedicate a negligible portion of your marketing budget to the task.</p>
            <p>Website development offers a really high return on investment (ROI) when it comes to reaching prospects and creating new profit generation opportunities for your academic establishment. Web is the trend of the future and you should be getting started with it right now.</p>
            <p>The website reflects the school’s attitude and acceptance of modern trends. The sooner you give this possibility a try, the happier you will be with the outcome. Digital interactions are becoming the norm and educational establishments that want to create the right reputation for themselves have to start taking such new trends seriously.</p>
            <br><br><br>
            <p>To discuss your school website requirements in more detail, give us a call on +2349036442093 or drop us an email at <a href="mailto:enquiries@thesevenapex.com">enquiries@thesevenapex.com</a>  we’d love to hear from you!</p>
            <br><br>
            <p class="orbitron">
                <a href="./blogs.html" style="color : rgb(51, 51, 51); text-decoration: none;"> <span style="color : rgb(51, 51, 51, 0.5);">Back to Blogs</span></a> &lt; Next article
            </p>  
        </div>
    </section>
    <div class="blogPost form">
        <form  method="post">
            <h2 class="orbitron"> Stay tuned to our weekly update</h2>
            <div>
                <input type="text" placeholder=" Email">
            </div>
            <button>subscribe</button>
        </form>
    </div>
      <!-- footer section -->
      <%=require('../repetitive/footer') %>
      <!-- ###### -->
</body>
</html>